//- Main Vars
- var siteName  = 'Эппл Shop'
- var IESupport = 8



//- Menu Items
//- Menu Items - Top
- var menuTop = ['Мобильные телефоны', 'Планшеты', 'Мр3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Apple TV', 'Аксессуары'];

//- Menu Items - Sidebar
- var menuSidebar = ['iPhone', 'iPhone 4s', 'iPhone 5', 'iPhone 5s с эксклюзивным дизайном', 'iPhone 6', 'iPhone 6 plus', 'iPad', 'iMac', 'Macbook', 'iPod', 'Другое'];



//- Breadcrumbs
- var breadList = ['Главная', 'Каталог', 'Планшеты'];



//- Form components
- var dropDown = ['Сеткой', 'Линиями'];
