.row {
	@include clearfix;
}
.col {
	float: left;
}
.col_reverse {
	float: right;
}

$cols-sizes: 10, 15, 20, 25, 33.3, 50, 75;
@each $cols-size in $cols-sizes {
	.col_#{$cols-size} { 
		width: #{$cols-size}%;
	}
}
@each $cols-size in $cols-sizes {
	.col_offset-#{$cols-size} { 
		margin-left: #{$cols-size}%;
	}
}