.text {
	&-link {
		display: inline-block;
		font-family: $font-family_main;
		line-height: 1;
		color: $color-main_blue;
		text-decoration: none;
		border-bottom: 1px solid $color-main_blue;
		transition: color .2s, border-bottom-color .2s;

		&:hover {
			color: $color-main_violet;
			border-bottom-color: transparent;
		}

		&_big {
			font-size: 16px;
		}

		&_inline {
			display: inline;
		}
	}

	&-block {
		&__heading {
			font-family: $font-family_main;
			font-size: $font-size_main;
			font-weight: 700;
			line-height: 1;
			color: $color-main_dark-gray;
			margin-bottom: .38em;

			&_big {
				font-size: $font-size_main + 10px;
			}
		}

		&__p {
			line-height: 1.35;

			p {
				margin-top: 18px;
				margin-bottom: 0;
			}

			p:first-child {
				margin-top: 0;
			}
		}
	}
}