$color-main_violet: #643d95;

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-width: $wrap-size_desktop + 20px;
	height: $footer-height;
	background: $color-main_violet url(#{$path-images}/as-footer_bg.jpg) repeat;
	overflow: hidden;

	&__logo {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 250px;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			max-height: $footer-height;
			vertical-align: middle;
		}

		&-link {
			display: inline-block;
			overflow: hidden;
			position: relative;
		}

		&-title {
			position: absolute;
			top: 0;
			left: -9999px;
		}
	}




	//Navigation
	&-nav {
		padding-top: 58px;

		&-block {
			float: left;
			margin-left: 70px;

			&:first-child {
				margin-left: 0;
			}

			&-title {
				font-size: $font-size_main;
				color: $color-main;
				font-weight: 700;
				margin-bottom: 5px;
			}
		}

		&__list {
			@include clean-list;
		}

		&__item {
			margin-top: 4px;

			&:first-child {
				margin-top: 0;
			}

			&-link {
				font-size: $font-size_main;
				color: $color-main;
				line-height: 1;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}



	&-additional {
		padding-top: 14px;
		width: 188px;
	}
}

.stores {
	font-size: 0;
	margin-bottom: 25px;

	&__item {
		display: inline-block;
		width: 90px;
		height: 32px;
		overflow: hidden;
		text-indent: -9999px;
		background: url(#{$path-images}/stores.png) 0 0;
		transition: opacity .2s;
		margin-left: 4px;

		&:first-child {
			margin-left: 0;
		}

		&_gp {
			background-position: 0 0;
		}

		&_as {
			background-position: -90px 0;
		}

		&:hover {
			opacity: .8;
		}
	}
}

.social {
	font-size: 0;

	&__item {
		display: inline-block;
		width: 44px;
		height: 44px;
		overflow: hidden;
		text-indent: -9999px;
		background: url(#{$path-images}/socials.png) 0 0;
		transition: opacity .2s;
		margin-left: 8px;

		&:first-child {
			margin-left: 0;
		}

		&_vk {
			background-position: 0 0;
		}

		&_fb {
			background-position: -52px 0;
		}

		&_tw {
			background-position: -103px 0;
		}

		&:hover {
			opacity: .8;
		}
	}
}