.header {
	height: 120px;
	background-color: $color-main-light_blue;
	min-width: $wrap-size_desktop + 20px;

	@include radial-gradient( #f0f5f9, #d9e4ef);

	//Logo
	&__logo {
		float: left;
		position: relative;
		top: 25px;

		&-link {
			display: block;
			position: relative;
			transition: opacity .3s;

			&:hover {
				opacity: .8;
			}
		}

		&-img {
			max-width: 100%;
		}

		&-title {
			position: absolute;
			top: 0;
			left: -9999px;
		}
	}

	//Phone and email wrapper
	&__info {
		float: left;
		position: relative;
		top: 20px;

		&_right {
			float: right;
			text-align: right;
		}
	}

	//Phone and email
	&__phone {
		margin-bottom: 2px;

		&-link {
			text-decoration: none;
			font-size: $font-size_main + 6px;
			color: $color-main_dark-gray;
		}
		&-small-digits {
			display: inline-block;
			vertical-align: top;
			font-size: $font-size_main - 1px;
			color: $color-main_blue;
			margin-right: 2px;

			&_bold {
				font-weight: 700;
			}
		}
	}

	@include clearfix;
}