extends ../layouts/main

block title
	+siteTitle('Главная')

block pageContent
	.page__container
		.wrapper
			.page__header
				.col.page__header-left-col
					.breadcrumbs
						+nav( 'breadcrumbs', breadList, ( breadList.length - 1 ) , true )

				.col.col_reverse.page__header-right-col
					.page__header-filters
						+form-component( 'dropdown', dropDown, 1 )
					.paginator.paginator_top-side
						+nav( 'paginator', [1,2,3,4,5,'Все'], 0, true )

			.page__content.home-page
				.col
					.sidebar
						nav.nav.nav_sidebar
							+nav( 'nav', menuSidebar, 0, true )

				.col.col_reverse
					.page__main-content
						+products( 6 )

						.page__text-block
							.text-block__heading.text-block__heading_big Пара слов о магазине
							.text-block__p
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
								p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.


