doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><![endif]-->
html
	head
		include ../common/head

		title Генератор водяных знаков

	body
		.preloader-starter Загрузка

		.wrapper
			include ../common/option-box

			.main-box
				.left-column
					include ../common/canvas
				.right-column
					include ../common/canvas-actions
				.preloader.preloader_progress
					.preloader__progress-line
						.preloader__progress-line-inner

			include ../common/footer

		include ../common/scripts