.gen-head
	h1.gen-heading Генератор водяных знаков
.gen-body
	.img-box
		.wrapper__img-parent#wrapper__img-parent
			img.img-parent#img-parent(src="")
			.wrapper__watermark#wrapper__watermark
				img.watermark#watermark(src="")