footer.footer
	.wrapper.wrapper_relative
		.footer__logo
			a.footer__logo-link(href='javascript:void(0);')
				img.footer__logo-img(src='img/footer-logo.png' alt='#{siteName}')
				.footer__logo-title #{siteName}
		.footer-nav
			.col.col_50.col_offset-25
				.row
					.footer-nav-block
						.footer-nav-block-title О магазине
						+nav('footer-nav', ['О нас', 'Наши цены', 'Наши скидки', 'Акции'], 1, true)

					.footer-nav-block
						.footer-nav-block-title Каталог
						+nav('footer-nav', ['Смартфоны', 'Планшеты', 'Компьютеры', 'Аксессуары'], 1, true)

					.footer-nav-block
						.footer-nav-block-title Контакты
						+nav('footer-nav', ['Телефоны', 'Адреса', 'Карта проезда', 'Обратная связь'], 1, true)
		.footer-additional.col.col_reverse
			.stores
				a.stores__item.stores__item_as(href='javascript:void(0);') App Store
				a.stores__item.stores__item_gp(href='javascript:void(0);') Google Play
			.social
				a.social__item.social__item_vk(href='javascript:void(0);') Vkontakte
				a.social__item.social__item_fb(href='javascript:void(0);') Facebook
				a.social__item.social__item_tw(href='javascript:void(0);') Twitter

a.push-top.push-top_fixed.push-top_hidden(href='#') Наверх
