meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name="viewport" content="width=device-width")
//- SEO
meta(name="description" content="сайт на jade & sass")
//- STYLES
link(rel='stylesheet' type='text/css' href='bower/normalize.css/normalize.css' media='screen, projection, print')
link(rel='stylesheet' type='text/css' href='bower/jquery-ui/themes/base/jquery-ui.min.css' media='screen, projection, print')
link(rel='stylesheet' type='text/css' href='css/main.css' media='screen, projection, print')
//- FAVICON
link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
link(rel="icon" href="favicon.ico" type="image/x-icon")
//- MODERNIZR
script(src="bower/modernizr/modernizr.js")