//- Main Metas
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=1020")

//- SEO
meta(name="description" content="Выпускной проект №2 от Loftschool")
meta(name="keywords" content="loftschool, homework, вп2, выпускной проект")
meta(name="author" content="Тимофей Пономарев")

//- Bower and Main Styles
include styles