// JS Scripts 

//- JS Part of Bower Packages
// build:js js/vendor.js 
// bower:js
script(src='/bower/jquery/dist/jquery.js')
// endbower 
// endbuild 

//- Site JS
// build:js js/main.js 
script(src="js/toTop.js")
script(src="js/gridView.js")
script(src="js/main.js")
// endbuild 

//- Append some files to head
block append headBottom
	| TEEEEST