.page {
	&__header {
		@include clearfix;
		margin-bottom: 18px;

		&-left-col,
		&-right-col {
			max-width: 50%;
		}

		&-left-col {
			float: left;
		}

		&-right-col {
			float: right;
		}

		&-filters {
			display: inline-block;
			vertical-align: top;
		}
	}

	&__main-content {
		width: 740px;
	}

	&__text-block {
		margin-bottom: 38px;
	}
}