//__Colors:
$color-text-dark: #2b2729;
$color-bg-alfa-bright: rgba(241,241,245,0.7);
$color-bg-pink: #f97e76;
$color-bg-grey: #c1cfd9;
$color-bg-light-grey: #f1f1f5;
$color-bg-grey-dark: #9eb2c0;
$white: #ffffff;
//__Fonts:
$segoe-light: 'SegoeUILight', Arial, Helvetica, sans-serif;
$roboto-light: 'RobotoLight', Arial, Helvetica, sans-serif;