//Typography
$font-family_main: 'ElektraLightPro', sans-serif;
$font-size_main: 15px;
$line-height_main: 1.5;

//Colors
$color-main: #fff;
$color-main_blue: #00b9fe;
$color-main_dark-gray: #5c7b98;
$color-main_light-gray: #f7f7f7;
$color-main_light-blue: #dce6f0;
$color-main_violet: #613993;

//Sizes
$wrap-size_desktop: 1000px;
$footer-height: 238px;

//Paths
$path-images: '../img';
$path-fonts: '../fonts/';